<h1>Weather Search</h1>
<div class="row">
  <form class="col-md-4 form-inline" id="search_form">
    <div class="form-group">
      <label for="search-input"></label>
      <input class="form-control" id="search-input" type="text" name="search" placeholder="Vancouver">
    </div>

    <div class="form-group">
      <button type="submit" id="search-one" class="btn btn-default">Search</button>
    </div>

  </form>
</div>
<div class="row">
  <div id="cities-info" class="col-md-4">
  </div>
</div>