<h1>Home Page</h1>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<form id="search_form">
  <div>
    <label>Search:</label>
    <input id="search-input" type="text" name="search">
  </div>

  <div>
    <input id="search-one" type="submit" value="Submit" >
  </div>

</form>

<script>

$('#search-one').on('click', function(e){
              e.preventDefault();
              searchterm = $('#search-input').val();
              console.log("SEARCH", searchterm);
              
              function getlatlong(searchterm, done) {
                $.ajax({
                    method: 'GET',
                    url: 'http://autocomplete.wunderground.com/aq',
                    data: {
                        query: searchterm
                    },
                    dataType: 'jsonp',
                    jsonp: 'cb',
                    // success: function (response) {
                    //   console.log("DATA", response);
                    //   done(response.RESULTS);
                    //   // console.log(response['RESULTS'][0].zmw + '.json');
                            
                    // },
                    success: done,
                    error: function () {
                        console.log('error');
                    }
                });
                console.log("return from function");
              };

              var responseCallback = function(result) {

                  var zmw = result['RESULTS'][0].zmw + '.json'
                  console.log("THIS BE ZMW", zmw)
                  $.ajax({
                    method: 'GET',
                    url: 'http://api.wunderground.com/api/44f0caac7402487f/conditions/q/zmw:' + zmw,
                    // data: {
                    //     zmw: zmw

                    // },
                    dataType: 'jsonp',
                    success: function (data) {
                      console.log("WEATHERDATA", data);
                      $('#cities-info > h3').empty();
                      value = data['current_observation'];
                      $('#cities-info').append( '<h3>' + 'current temperature: ' + value.temperature_string + '<br>' + 'weather: ' + value.weather + '<br>' + 'wind direction: ' + value.wind_dir + '<br>' + 'wind speed(kmh): ' + value.wind_kph + '</h3>');
                      
                    },
                    error: function () {
                        console.log(error);
                    }
                });

              }

              getlatlong(searchterm, responseCallback);

              // console.log(getlatlong(searchterm))


              
});

// $.ajax({
//    url:
//    method: 'GET',
//    dataType: 'jsonp'
//    });
// });

</script>
<script>
    $(function () {
        var acXHR;
        $('#search-input').autocomplete({
            delay: 0,
            source: function (req, resCB) {
                // if (acXHR) {
                //     acXHR.abort(); This is important for when type is json
                // }
                acXHR = $.ajax({
                    method: 'GET',
                    url: 'http://autocomplete.wunderground.com/aq',
                    data: {
                        query: req.term
                    },
                    dataType: 'jsonp',
                    jsonp: 'cb',
                    success: function (data) {
                        resCB(data['RESULTS'].map(function (city) {
                            return city.name;
                        }));
                    },
                    error: function () {
                        resCB();
                    }
                });
            }
        });
    });
</script>

<div id="cities-info">
  <h3 class="info"> </h3>
</div>